package {{.Package}}

import (
	"database/sql"
	"encoding/json"
	"fmt"
	"net"

	"github.com/google/uuid"
	"google.golang.org/protobuf/types/known/timestamppb"
	"google.golang.org/protobuf/types/known/wrapperspb"

	pb "{{ .GoModule}}/proto/{{.Package}}"
	"{{.GoModule}}/internal/validation"
)

{{range .InputAdapters}}
func from{{.Name}}(in *pb.{{.Name}}) (out {{.Name}}, err error) {
	if in == nil {
	    return
	}
    {{range .AdapterToGo "in" "out"}}{{.}}
    {{end}}return
}
{{end}}
{{range .OutputAdapters}}
func to{{.Name}}(in {{.Name}}) (out *pb.{{.Name}}, err error) {
    out = new(pb.{{.Name}})
    {{range .AdapterToProto "in" "out"}}{{.}}
    {{end }}return
}
{{end}}